.container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20%;
  padding-right: 20%;
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  font-size: 1.7em;
}

.title:hover {
  color: darkorange;
}

.list {
  padding-left: 20%;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.3em;
  }
}
