.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 2%;
    padding-right: 2%;
}

.title {
    color:darkslategrey;
    text-decoration: none;
}

.title:hover {
    color: darkorange;
}

.list {
    padding-left: 20%;
}
