
.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 2%;
    padding-right: 2%;
}

.title {
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bolder;
}

.title:hover {
    color: darkorange;
}

.list {
    padding-left: 20%;
}
