.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    color:darkslategrey;
    text-decoration: none;
}

.title:hover {
    color: darkorange;
}

.list {
    padding-left: 250px;
}
