.content {
    font-family: 'Lora', serif !important;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    color:darkslategrey;
    text-decoration: none;
}

.title:hover {
    color: darkorange;
    /* color:palevioletred */
}

.list {
    padding-left: 250px;
}
