.text {
  font-family: "Homemade Apple", cursive;
  text-align: center;
  font-size: 2em;
}

.links {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 1.8em;
  margin-right: 0.5em;
}

.links a {
  text-decoration: none;
  color: seagreen;
}

.links a:nth-child(even) {
  color: mediumorchid;
}

.links a:hover {
  color: orange;
  border-bottom: slateblue solid 2px;
}

@media (max-width: 480px) {
  .text {
    font-size: 1.3em;
  }

  .links {
    font-size: 1.5em;
  }
}
