.intro {
    font-family: 'Homemade Apple', cursive !important;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    font-size: 1.8em;
}

.softwareEngineer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: orange;
}

.circularSquare {
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }