.text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: x-large;
    color:teal;
}
@media (max-width: 1100px) {
    .text {
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media (max-width: 480px) {
    .text {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

.specialText {
    color:darkorange;
}

