.text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: x-large;
    color:teal;
    padding-left: 15%;
    padding-right: 15%;
}

.specialText {
    color:darkorange;
}