.text {
    font-family: 'Homemade Apple', cursive !important;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: center;
    color:sienna
}

.links {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: x-large;
}

.links a {
    text-decoration: none;
    color:purple
}

.links a:nth-child(even) {
    color:mediumorchid;
}

.links a:hover{
    color:seagreen;
    border-bottom: slateblue solid 2px;
}