.intro {
    font-family: 'Homemade Apple', cursive !important;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: center;
    color:sienna
}

.softwareEngineer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: orange;
}

.circularSquare {
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 50%;
  }