@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

.header {
    font-family:'Homemade Apple', cursive !important;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
    color:royalblue;
}

.header:hover {
    color: orange;
}