.container {
    margin-left: 30px;
    font-family: 'Trebuchet MS';
}

.title {
    color:darkslateblue;
}

.navBar {
    margin: 0px;
}

.navLink {
    margin-right: 20px;
    font-size: larger;
}

.content {
    font-family:'Trebuchet MS';
}