
body {
    --bg: white;
    --textNormal: black;
    --textSubHeading: silver;

    background-color: var(--bg);
  }
  
body.dark {
  -webkit-font-smoothing: antialiased;

  --bg:#1e1e1d;
  --textNormal: white;
  --textSubHeading: grey;



}