.container {
  font-family: "Trebuchet MS";
}

.navBar {
  text-align: center;
}

.navLink {
  margin-right: 0.5em;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  /* color:darkslateblue; */
  color: deeppink;
}

.navLink:hover {
  color: orange;
  border-bottom: deeppink solid 2px;
}

.navLink:active {
  color: cornflowerblue;
}

.current {
  margin-right: 0.5em;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  color: orange;
  border-bottom: deeppink solid 2px;
}

@media (max-width: 480px) {
  .navLink {
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  .current {
    font-size: 1.5em;
    margin-right: 0.5em;
  }
}
