.container {
    margin-left: 30px;
    font-family: 'Trebuchet MS';
}

.navBar {
    margin: 0px;
    text-align: center;
}

.navLink {
    margin-right: 20px;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    /* color:darkslateblue; */
    color:deeppink;
}

.navLink:hover {
    color: orange;
    border-bottom: deeppink solid 2px;
    font-weight: bold;
}

.navLink:active {
    color:cornflowerblue;
}

.current { 
    margin-right: 20px;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: orange;
    border-bottom: deeppink solid 2px;
}

